<div class="overflow-hidden">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="triangle-skew-spin" [fullScreen] = "true" name="spinnerMain"></ngx-spinner>
    <div class="flex justify-between items-center px-4 h-16 top-0 left-0 mx-auto container">
        <div class="flex items-center">
            <h2 class="text-xl *:inline-flex mx-2">haiku.best</h2>
        </div>
        <div>
            <button (click)="infoDialog.open = true" title="info button">
                <ng-icon class="text-3xl mx-2" name="heroQuestionMarkCircle"></ng-icon>            
            </button>
            <button (click)="getTopHaiku()" title="leaderboard button" class="relative">
                <ng-icon class="text-3xl mx-2" name="heroTrophy"></ng-icon>        
            </button>
        </div>
    </div>
    <div class="flex flex-col mt-20 justify-center items-center">
        <textarea [(ngModel)]="line1" rows="1" class="border p-2 mb-4 mt-4 text-center" placeholder="First Line"></textarea>
        <textarea [(ngModel)]="line2" rows="1" class="border p-2 mb-4 text-center" placeholder="Second Line"></textarea>
        <textarea [(ngModel)]="line3" rows="1" class="border p-2 mb-4 text-center" placeholder="Third Line"></textarea>
        <button (click)="submitHaiku()" class="relative bg--500 bg-indigo-400 hover:bg-indigo-500 text-white font-bold py-2 px-4 mt-10 rounded">
            Submit Haiku
            <ngx-spinner [zIndex]="0" bdColor = "rgba(0, 0, 0, 0.5)" size = "small" color = "#fff" type="ball-spin" [fullScreen]="false" name="spinnerStart"></ngx-spinner>
        </button>
        <textarea [(ngModel)]="author" rows="1" class="border p-2 mb-4 mt-4 text-center" placeholder="Your Signature" maxlength="20"></textarea>
        
        <dialog closed class="open:flex top-0 h-screen w-full z-10 bg-slate-400 bg-opacity-55 rounded-md" #scoreDialog>
            <div class="relative w-80 md:w-96 m-auto bg-slate-400 rounded-md">
                <button (click)="scoreDialog.open = false" title="close score dialog">
                    <ng-icon class="absolute text-white text-2xl m-2 right-0 top-0" name="heroXCircle"></ng-icon>
                </button>
                <div *ngIf="score !== null" class="flex=col mt-4">
                    <p class="text-white text-sm text-center m-auto mt-4 whitespace-pre-line mx-8">{{ lastHaiku }}</p>
                    <p class="text-white text-base text-center m-auto mt-10">The judge has given you a</p>
                    <h2 class="text-xl font-bold mt-4 text-white text-center m-auto">{{ score }} / 10</h2>
                    <p class="text-white font-bold text-base text-center m-auto mt-2">(Top {{ percentile }}% of all Haikus!)</p>
                    <div class="flex justify-center mt-14 pb-10">
                        <button (click)="scoreDialog.open = false; getTopHaiku();" title="close score dialog">
                            <ng-icon class="text-3xl text-white mx-2" name="heroTrophy"></ng-icon>
                        </button>
                    </div>
                </div>
            </div>
        </dialog>

        <dialog closed class="open:flex top-0 h-full w-full z-10 bg-slate-400 bg-opacity-55 rounded-md" #leaderDialog>
            <div class="relative w-80 md:w-96 m-auto bg-slate-400 rounded-md pb-10">
                <button (click)="leaderDialog.open = false" title="close leader dialog">
                    <ng-icon class="absolute text-white text-2xl m-2 right-0 top-0" name="heroXCircle"></ng-icon>
                </button>
                <p class="text-white font-bold text-sm text-center m-auto mt-8 mx-8">#1</p>
                <p class="text-white text-sm text-center m-auto mt-4 whitespace-pre-line mx-8">{{haikus[0][0]}}</p>
                <p class="text-white font-bold text-sm text-center m-auto mt-4 mx-8">{{haikus[0][1]}}, {{haikus[0][2]}}/10</p>
                <p class="text-white font-bold text-sm text-center m-auto mt-8 mx-8">#2</p>
                <p class="text-white text-sm text-center m-auto mt-4 whitespace-pre-line mx-8">{{haikus[1][0]}}</p>
                <p class="text-white font-bold text-sm text-center m-auto mt-4 mx-8">{{haikus[1][1]}}, {{haikus[1][2]}}/10</p>
                <p class="text-white font-bold text-sm text-center m-auto mt-8 mx-8">#3</p>
                <p class="text-white text-sm text-center m-auto mt-4 whitespace-pre-line mx-8">{{haikus[2][0]}}</p>
                <p class="text-white font-bold text-sm text-center m-auto mt-4 mx-8">{{haikus[2][1]}}, {{haikus[2][2]}}/10</p>
            </div>    
        </dialog>

        <dialog closed class="open:flex top-0 h-full w-full z-10 bg-slate-400 bg-opacity-55 rounded-md" #limitDialog>
            <div class="relative w-80 md:w-96 m-auto bg-slate-400 rounded-md pb-10">
                <button (click)="limitDialog.open = false" title="close limit dialog">
                    <ng-icon class="absolute text-white text-2xl m-2 right-0 top-0" name="heroXCircle"></ng-icon>
                </button>
                <p class="text-white text-base font-bold leading-none text-center m-auto mt-10 whitespace-pre-line mx-8">You may only submit one Haiku each day.</p>
                <div *ngIf="score !== null" class="flex=col mt-4">
                    <p class="text-white text-sm text-center m-auto mt-4 whitespace-pre-line mx-8">{{ lastHaiku }}</p>
                    <p class="text-white text-base text-center m-auto mt-10">The judge gave you a</p>
                    <h2 class="text-xl font-bold mt-4 text-white text-center m-auto">{{ score }} / 10</h2>
                    <p class="text-white font-bold text-base text-center m-auto mt-2">(Top {{ percentile }}% of all Haikus!)</p>
                    <div class="flex justify-center mt-14 pb-10">
                        <button (click)="limitDialog.open = false; getTopHaiku();" title="close limit dialog">
                            <ng-icon class="text-3xl text-white mx-2" name="heroTrophy"></ng-icon>
                        </button>
                    </div>
                </div>
            </div>
        </dialog>

        <dialog open class="open:flex top-0 h-full w-full z-10 bg-slate-400 bg-opacity-55 rounded-md" #infoDialog>
            <div class="relative w-80 md:w-96 m-auto bg-slate-400 rounded-md pb-10">
                <button (click)="infoDialog.open = false" title="close info dialog">
                    <ng-icon class="absolute text-white text-2xl m-2 right-0 top-0" name="heroXCircle"></ng-icon>
                </button>
                <p class="text-white text-base leading-none text-center m-auto mt-10 mx-8">Write a Haiku, sign it, and submit it for review from the judge.</p>
                <p class="text-white text-base leading-none text-center m-auto mt-4 mx-8">You may write one Haiku per day.</p>
                <button (click)="infoDialog.open = false" class="bg--500 bg-indigo-400 hover:bg-indigo-500 text-white font-bold py-2 px-4 mt-10 rounded flex m-auto">
                    OK
                </button>
            </div>
        </dialog>

        <dialog closed class="open:flex top-0 h-full w-full z-10 bg-slate-400 bg-opacity-55 rounded-md" #warningDialog>
            <div class="relative w-80 md:w-96 m-auto bg-slate-400 rounded-md pb-10">
                <button (click)="warningDialog.open = false" title="close warning dialog">
                    <ng-icon class="absolute text-white text-2xl m-2 right-0 top-0" name="heroXCircle"></ng-icon>
                </button>
                <p class="text-white text-base leading-none text-center m-auto mt-10 mx-8">The server is spinning up and takes about 40 seconds.</p>
                <p class="text-white text-base leading-none text-center m-auto mt-4 mx-8">This saves me money :)</p>
                <button (click)="warningDialog.open = false" class="bg--500 bg-indigo-400 hover:bg-indigo-500 text-white font-bold py-2 px-4 mt-10 rounded flex m-auto">
                    OK
                </button>
            </div>
        </dialog>

        <dialog closed class="open:flex top-0 h-full w-full z-10 bg-slate-400 bg-opacity-55 rounded-md" #entryDialog>
            <div class="relative w-80 md:w-96 m-auto bg-slate-400 rounded-md pb-10">
                <button (click)="entryDialog.open = false" title="close entry warnings dialog">
                    <ng-icon class="absolute text-white text-2xl m-2 right-0 top-0" name="heroXCircle"></ng-icon>
                </button>
                <p class="text-white text-base leading-none text-center m-auto mt-10 mx-8">Please fill out all entries.</p>
                <button (click)="entryDialog.open = false" title="ok to entry warnings dialog" class="bg--500 bg-indigo-400 hover:bg-indigo-500 text-white font-bold py-2 px-4 mt-10 rounded flex m-auto">
                    OK
                </button>
            </div>
        </dialog>

        <dialog closed class="open:flex top-0 h-full w-full z-10 bg-slate-400 bg-opacity-55 rounded-md" #errorDialog>
            <div class="relative w-80 md:w-96 m-auto bg-slate-400 rounded-md pb-10">
                <button (click)="errorDialog.open = false" title="close error dialog">
                    <ng-icon class="absolute text-white text-2xl m-2 right-0 top-0" name="heroXCircle"></ng-icon>
                </button>
                <p class="text-white text-base leading-none text-center m-auto mt-10 mx-8">Something went wrong, please try again.</p>
                <button (click)="errorDialog.open = false" title="ok to error dialog" class="bg--500 bg-indigo-400 hover:bg-indigo-500 text-white font-bold py-2 px-4 mt-10 rounded flex m-auto">
                    OK
                </button>
            </div>
        </dialog>
    </div>
</div>